.Footer {
	background-color: #181c24;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;

	.Content {
		width: 80%;

		.Up {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 50px 0;

			.Left {
				display: flex;
				flex-direction: column;
				max-width: 270px;

				.Logo {
					margin: 20px 0;
					border-radius: 5px;
				}

				.Text {
					line-height: 1.7;
					color: #cacaca;
				}
			}

			.Right {
				width: 260px;

				.Info {
					margin-bottom: 50px;
					font-size: 15pt;
				}

				.SelectLocales {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-top: 30px;
				}

				.Contacts {
					.Phone {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 10px;
						border-bottom: 1px solid #2f3b50;
						padding-bottom: 15px;

						.PhoneText {
							color: #fff;
						}
					}

					.Geo {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 10px;
						border-bottom: 1px solid #2f3b50;
						padding-bottom: 10px;
						margin-top: 15px;
					}

					.Mail {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 10px;
						margin-top: 15px;
					}
				}
			}
		}

		.Down {
			border-top: 1px solid #2f3b50;

			.Text {
				margin: 25px 0;
				color: #cacaca;
			}
		}
	}
}

@media (max-width: 1000px) {
	.Footer {
		.Content {
			.Up {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
	}
}
