.DesktopHeader {
	background-color: #181c24;
	display: flex;
	justify-content: center;

	.Content {
		width: 80%;
	}

	.DesktopHeaderUp {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid #394664;

		.Contacts {
			display: flex;
			padding: 15px 0;

			.Li {
				margin: 0 15px;
				padding-left: 20px;
				color: #8a99c0;
				display: flex;
				align-items: center;
				justify-content: center;
				border-left: 1px solid #394664;
				gap: 5px;
			}
		}
	}

	.DesktopHeaderCenter {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;

		.Logo {
			margin-bottom: 40px;

			.LogoImg {
				border-radius: 5px;
			}
		}
	}

	.DesktopHeaderDown {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1465px) {
	.DesktopHeader {
		.Content {
			.DesktopHeaderUp {
				flex-direction: column;
			}
		}
	}
}
