.Achievements {
	background-image: url(../../../../public/bgAchievements.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	.Content {
		padding: 10px;

		.Text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: white;

			.Numbs {
				color: #A8CACA;
				margin-top: 80px;
			}

			.Title {
				margin: 20px;
				font-size: 25pt;
			}
		}

		.Cards {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			gap: 50px;
			margin-bottom: 80px;
		}
	}
}

@media (max-width: 1055px) {
	.Achievements {
		.Content {
			.Text {
				.Numbs {
					margin-top: 60px;
				}
			}

			.Cards {
				flex-wrap: wrap;
				gap: 0px;
			}
		}
	}
}

@media (max-width: 455px) {
	.Achievements {
		.Content {
			.Text {
				.Numbs {
					margin-top: 10px;
				}

				.Title {
					font-size: 20pt;
					margin: 10px;
				}
			}
		}
	}
}