.WelcomeTitle {
	display: flex;
	justify-content: center;
	background-image: url(../../../../public/JCI-Background2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;

	.Content {
		margin-top: 80px;
		width: 75%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: 100%;
		color: white;

		.CompanyTitle {
			.Title {
				font-size: 65pt;
				font-weight: 600;
			}
		}

		.CompanyInfo {
			font-size: 22pt;
			line-height: 1.7;
		}
	}
}

@media (max-width: 1010px) {
	.WelcomeTitle {
		height: 500px;

		.Content {
			.CompanyTitle {
				.Title {
					font-size: 45pt;
				}
			}

			.CompanyInfo {
				font-size: 16pt;
			}
		}
	}
}

@media (max-width: 700px) {
	.WelcomeTitle {
		height: 350px;

		.Content {
			margin-top: 40px;

			.CompanyTitle {
				.Title {
					font-size: 35pt;
				}
			}

			.CompanyInfo {
				font-size: 13pt;
			}
		}
	}
}

@media (max-width: 500px) {
	.WelcomeTitle {
		height: 250px;

		.Content {
			margin-top: 20px;

			.CompanyTitle {
				.Title {
					font-size: 25pt;
				}
			}

			.CompanyInfo {
				font-size: 11pt;
			}
		}
	}
}