.Projects {
	margin-top: 200px;

	.Content {
		.Up {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.Title {
				margin-top: 20px;
				font-size: 26pt;
				color: #dbdbdb;
			}
		}
	}
}
