.Certificates {
	margin-top: 70px;

	.Content {
		text-align: center;
		color: #fff;

		.Title {
			.TitleText {
				font-size: 25pt;
			}
		}

		.CertificatesBlock {
			padding: 50px 20px;
			overflow: hidden;

			.Img {
				margin-bottom: 20px;
				border-radius: 5px;
				box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.5);
				transition: 350ms;

				&:hover {
					transform: scale(1.1);
					box-shadow: 0 0 100px 10px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}