.FixedNavigation {
	position: fixed;
	top: 10px;
	width: 80%;
	padding: 35px 0;
	background-color: #dbdbdb;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	animation: translate 300ms 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	
	.Li {
		transition: 200ms;

		.Link {
			text-decoration: none;
			color: black;
			margin: 0 40px;
		}

		&:hover {
			text-shadow: 0 0 10px #462D91;
			color: #5236a7;
		}
	}
}

@keyframes translate {
	0% {
		transform: translateY(-200%);
	}
	100% {
		transform: translateY(0%);
	}
}

.FixedNavigationAbsotule {
	position: absolute;
	top: 165px;
	width: 80%;
	padding: 35px 0;
	background-color: #dbdbdb;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	animation: translateState 200ms 1;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.Li {
		transition: 200ms;

		.Link {
			text-decoration: none;
			color: black;
			margin: 0 40px;
		}

		&:hover {
			text-shadow: 0 0 10px #462D91;
			color: #5236a7;
		}
	}
}

@keyframes translateState {
	0% {
		transform: translateY(200%);
	}
	100% {
		transform: translateY(0%);
	}
}

@media (max-width: 1300px) {
	.FixedNavigation, .FixedNavigationAbsotule  {
		font-size: 13px;

		.Li {
			.Link {
				margin: 0 20px;
			}
		}
	}
}